@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Letter in "The Mahout" */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}
